repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]

      - id: pylint
        name: pylint
        entry: pylint src/
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy --package src
        language: system
        pass_filenames: false
