repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]

      - id: pylint
        name: pylint
        entry: pylint src/
        language: system
        types: [python]

      - id: pyright
        name: pyright
        entry: pyright .
        language: system
        types: [python]
