[MASTER]
ignore=.venv,typings
jobs=1

[MESSAGES CONTROL]
disable=missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-instance-attributes,
    too-many-locals,
    too-many-branches,
    broad-exception-caught,
    global-statement,
    duplicate-code,
    fixme

[TYPECHECK]
ignored-modules=gi,gi.repository
