[MASTER]
ignore=.venv,typings
jobs=1

[MESSAGES CONTROL]
disable=missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    duplicate-code

[TYPECHECK]
ignored-modules=gi,gi.repository
