.tag {
    border-radius: 20px;
    background-color: alpha(currentColor, .07);
    padding: 5px 13px;
    margin: 0 2px;
}

.tag-green {
    background-color: alpha(@success_color, 0.15);
    color: @success_color;
}

.tag-blue {
    background-color: alpha(@accent_color, 0.15);
    color: @accent_color;
}

.tag-orange {
    background-color: alpha(@warning_color, 0.15);
    color: @warning_color;
}

.tag-red {
    background-color: alpha(@error_color, 0.15);
    color: @error_color;
}

.tag-gray {
    background-color: alpha(@window_fg_color, 0.08);
    color: alpha(@window_fg_color, 0.75);
}

.tag-black {
    background-color: alpha(@window_fg_color, 0.15);
    color: @window_fg_color;
}
